<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8"/>
    <title>Consultant Portal</title>
    <style>
        div{
            margin: 30px 50px 15px 25px;
        }
        table{

        }
    </style>
</head>
<body>
<div align="center">
    <h5>Consultant</h5>
</div>
<div style="font-size: 18px; color: blue">
    First Name: <label th:text="${consultant.firstName}"/><br/>
    Second Name: <label th:text="${consultant.lastName}"/><br/>
    E-Mail: <label th:text="${consultant.email}"/><br/>
</div>
<a href="/consultant">Back</a>
</body>
</html>